<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online SMS</title>
    <link href="/static/bootstrap/css/bootstrap.css?v=1" rel="stylesheet">
    <link href="/static/css/mainv2.css?v=1" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400' rel='stylesheet' type='text/css'>
	
	<script language="javascript" type="text/javascript">
    function limitText(limitField, limitCount, limitNum) {
	    if (limitField.value.length > limitNum) {
		    limitField.value = limitField.value.substring(0, limitNum);
	    } else {
		    limitCount.value = limitNum - limitField.value.length;
	    }
    }
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#"><span style="">Online SMS</span></a>
        <a class="logout" href="{{logout}}">Logout</a>
      </div>
    </div>
    <span class="ribbon">
       <a href="#" onclick="switch_tab();return false;">Send to Phone #</a>
    </span>
    {% if status is sameas 100 %}
    <div class="helpmsg alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Your phone is not yet registered. Install <a target="_blank" href="https://play.google.com/store/apps/details?id=com.fauzism.onlinesms">Online SMS</a> app on your Android Phone from Play Store and register.
    </div>
    {% endif %}
    <div class="container well send-to-number" style="display:none">
        <div id="errormsg" class="alert alert-error" style="display:none"></div>
        <div id="successmsg" class="alert alert-success" style="display:none"></div>
        <form id="sms-form" class="form-horizontal" method="post" action="/">
            <div class="control-group">
                <label class="control-label" for="phone">Contact Name/Number</label>
                <div class="controls">
                  <input type="text" id="phone" name="phone" autocomplete="off" placeholder="Phone Number">
                </div>
            </div>
            <input type="hidden" id="contact_name" name="contact_name">
            <div class="control-group">
                <label class="control-label" for="msg">Message</label>
                <div class="controls">
                  <textarea style="width:auto;" name="msg" id="msg" rows="5" cols="60" onKeyDown="limitText(this.form.msg,this.form.countdown,3500);" onKeyUp="limitText(this.form.msg,this.form.countdown,3500);"></textarea>
                  
                </div>
                <font size="1" style="margin-left:180px">(Maximum characters: 3500)</font>
            </div>
            <div class="control-group">
                <label class="control-label" for="phone"></label>
                <div class="controls">
                    <input readonly type="text" id="countdown" name="countdown" size="3" value="3500"> characters left.
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Send</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="container-fluid well send-to-contact" id="contact-list">
        <div>
            <div class="input-append">
			    <input type="text" class="filter-contact" name="search" id="search" value="" placeholder="Type contact name" autocomplete="off" /> 
			    <span class="add-on"><i class="icon-filter"></i></span>
            </div>
		</div>
		<p id="noMatches" style="display:none;">No matches found</p>
		<div class="clearfix"></div>
		<div class="contactlist">
		</div>
    </div>
    <div class="boxes">
    </div>
    <div class="sms-history" id="orig-sms-history">
        <button type="button" class="close">&times;</button>
        <div class="contact-title">Yousuf Fauzan</div>
        
        <div class="form-div">
            <form>
                <div class="alert alert-error" style="display:none">
                    
                </div>
                <input type="hidden" class="contact_name2" name="contact_name">
                <div class="control-group">
                    <div class="controls">
                        <select class="phone2" name="phone">
                        </select>
                    </div>
                </div>
                <input type="hidden" id="isajax" name="isajax" value="1">
                <div class="msg-container">
                    <div class="msgs"></div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                      <textarea name="msg" class="msg2"></textarea>                          
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="open-chat-links">
    </div>
    <div id="page-loader" style="display: block;">
		<h3>Fetching Contacts...</h3>
		<img src="/static/img/loader.gif" alt="loader">
	</div>
	<div id="sms-notification"></div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/cookie.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js" ></script>
    <script src="/static/js/autosize.js"></script>
    <script src="/static/js/mainv2.js?v=1"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script>
        onOpened = function() {
            connected = true;
           // sendMessage('opened');
        };
        onMessage = function(msg) {
            var data = JSON.parse(msg.data);
            if(data.type == 'delivery') onDelivery(data);
            else if (data.type == 'sms') onNewSMS(data);
            else return;
            
        };
        onError = function(err) {
             if (err.code == 0) {
                open_channel(ch_token_orig);
              } else {
                $.ajax({
                    url:'/new_chid/',
                    success:function(data){
                                ch_token_orig = JSON.parse(data).token;
                                console.log(data);
                                open_channel(ch_token_orig);
                            }
                    });
              }
        //    alert(err);
        };
        onClose = function() {
           // alert("close");
         //   connected = false;
        };
        // open new session
        var ch_token_orig = '{{ token }}';
        var channel;
        function open_channel(ch_token){
            channel = new goog.appengine.Channel(ch_token);
            socket = channel.open();
            socket.onopen = onOpened;
            socket.onmessage = onMessage;
            socket.onerror = onError;
            socket.onclose = onClose;
        }
        open_channel(ch_token_orig);
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19256750-3']);
      _gaq.push(['_trackPageview', '/send_to_contact']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
