<!doctype html>  
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online SMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <link href='http://fonts.googleapis.com/css?family=Lato:100italic,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400' rel='stylesheet' type='text/css'>
	<link href='/static/css/landing.css' rel='stylesheet' type='text/css'>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.lettering.js"></script>
    <script>
  	$(function() {$(".name h1").lettering();});
    </script>

</head>

<body>
    <header>
        <div class="container">
        	<aside>
			    <ul class="social">
				    <li class="twitter"><a href="http://twitter.com/yousuffauzan">Twitter</a></li>
				    <li class="email"><a href="mailto:spicavigo@gmail.com?Subject=Hello%20There">Email</a></li>
				    <li class="rss"><a href="http://fauzism.com/rss">RSS</a></li>
			    </ul>
		    </aside>
		
	    </div>
    </header>
  
    <div class="name">
        <h2>ONLINE</h2>
        <h1>SMS</h1>
        
    </div>
    <div class="info">
            <div class="title">
                Hitchhiker's Guide to Online SMS
            </div>
            <ul>
                <li><a href="https://play.google.com/store/apps/details?id=com.fauzism.onlinesms">Download for</a><span class="icon"></span></li>
                <li>Launch (Just one click and you are done)</li>
                <li>Come back here and <a href="{{path}}">Login</a>
            </ul>
  </div> 
     <footer></footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19256750-3']);
      _gaq.push(['_trackPageview', '/landingPage']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>

