<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online SMS</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<style>
	.container {
		background: #fff;
	}
	#alert {
		display: none;
	}
	.row{
	    margin-left:0px;
	}
	.navbar .brand{
	    font-size:44px;	    
	    color:#113;
	}
	</style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="/static/logo.png"/><span style="font-weight:bold;padding-left:10px">Online SMS</span></a>
        <ul class="nav">

        </ul>
      </div>
    </div>
    <div class="container well">
        Login using <a href="{{path}}">Gmail</a>
    </div>
</body>
</html>
